:root {
	--bg_colour: #E6E6E6;
	--bg_color: var(--bg_colour);
	--header_text_outline1: 2px;
	--header_text_outline2: -2px;
	--header_shadow_blur: 3px;
}

a {
	text-decoration: inherit;
	color: inherit;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--bg_colour);
	color: black;
	overflow-x: hidden;
}

p {
	font-size: 1.5em;
}

main {
	margin: 20px;
}

h3 {
	font-size: 3em;
	margin: 20px 0;
}

h4 {
	font-size: 2.5em;
	margin: 20px;
}
#bg_contour_lines {
	position: fixed;
	z-index: -1;
	opacity: 30%;
}
#bg_contour_lines path {
	fill:#888;
}

#uvod {
	text-align: center;
	font-size: 3em;
}

#uvod table {
	margin-left: auto;
	margin-right: auto;
}

#uvod .left {
	text-align: right;
	vertical-align: top;
	width: 250px;
	color: #F8F4DE;
	-webkit-text-stroke: 1px black;
}

#uvod .right {
	text-align: left;
	vertical-align: top;
	width: 250px;
	color: #F8F4DE;
	-webkit-text-stroke: 1px black;
}

#uvod .center {
	text-align: center;
	vertical-align: top;
	color: #7356ba;
	padding: 0 0.5rem;
	-webkit-text-stroke: 1px black;
}

#ov_overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 900;
	background: #000d;
}

#ov {
	position: fixed;
	width: 90vw;
	height: 90vh;
	left: 5vw;
	top: 5vh;
	background: #F8F4DE;
	z-index: 901;
	overflow-y: scroll;
	overscroll-behavior: contain;
	border-radius: 10px;
}
#ov_container{
	margin:10px;
}

#ov_lecturer {
	text-align: center;
	font-style: bold;
	font-size: 2.5em;
	margin-bottom: 10px;
}

#ov_title {
	text-align: center;
	font-style: bold;
	font-size: 2em;
	margin-bottom: 5px;
	margin-left: 80px;
	margin-right: 80px;
}

#ov_time {
	display: inline;
	margin-right: 20px;
	font-style: italic;
}

#ov_room {
	display: inline;
	margin-right: 20px;
}

#ov_annotation {
	margin-top: 25px;
}

#ov_lecturer_info {
	font-style: italic;
}

#ov_last_update {
	font-style: italic;
	font-size: 0.7em;
}

#ov_back {
	display: inline;
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 20px;
	font-style: bold;
	border: 3px solid #361F5F;
	border-radius: 5px;
}

header {
	position: sticky;
	height: 150px;
	width: 100%;
	z-index: 3;
	top: 0;
	border-bottom: black 3px;
}

#header_bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

header canvas {
	box-shadow: 0px 0px 20px #2a2a2a;
}

#hbg_canvas {
	height: 100%;
	width: 100%;
}

.header_fg {
	position: relative;
	z-index: 5;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: left;
	align-items: center;
	gap: 20px;
	border-bottom: solid 3px #888;
}

.vrchol_svg {
	height: 85px;
	width: 200px;
	padding-left: 20px;
	flex-shrink: 0;
}
header path {
	fill: #7356ba;
}

.header_fg svg, .header_fg h2 {
	filter: drop-shadow(0px var(--header_text_outline1) var(--header_shadow_blur) white) drop-shadow(0px var(--header_text_outline2) var(--header_shadow_blur) white)
		drop-shadow(var(--header_text_outline1) 0px var(--header_shadow_blur) white) drop-shadow(var(--header_text_outline2) 0px var(--header_shadow_blur) white)
		;
}

.header_fg svg:hover {
	cursor: pointer;
}

.header_fg .content_links {
	margin-left: auto;
	height: 100%;
	display: flex;
	justify-content: right;
	align-items: center;
	flex-shrink: 3;
}

.header_fg h2 {
	align-self: flex-end;
	transform: translateX(-50px);
	margin-bottom: 10px;
	flex-shrink: 0;
	color: #7356ba;
	text-shadow: 0px 0px 2px#F8F4DE;
}

nav {
	background-color: var(--bg_colour);
	border-bottom: 1px solid #361F5F;
	height: 20px;
}

nav a {
	padding: 3px;
	margin-right: 10px;
}

.header_pad {
	height: 100px;
}

.lecturer {
	font-weight: bold;
}

#o_akci,
#harmonogram,
#kontakty {
	scroll-margin-top: 120px;
}

#o_akci p {
	text-align: justify;
}

#harmonogram td {
	background-color: #ffffffa0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	border-radius: 5px;
}

#harmonogram table {
	padding-bottom: 20px;
}

#harmonogram .time {
	transform: translateY(-60%);
}

#harmonogram table {
	border-spacing: 5px;
	margin-left: auto;
	margin-right: auto;
}

#harmonogram table td * {
	display: block;
	text-align: center;
}

@media only screen and (max-width: 1100px) {

	/*for semi large devices*/
	.header_fg {
		flex-direction: column;
		gap: 0px;
	}

	.vrchol_svg {
		padding-right: 20px;
	}

	.header_fg .content_links {
		margin-right: auto;
		padding-bottom: 10px;
	}

	header {
		height: fit-content;
		top: -7rem;
	}

	header canvas {
		height: 13rem;
	}

	.header_pad {
		height: 200px;
	}

	h3 {
		font-size: 2rem;
	}

	h4 {
		font-size: 1.5rem;
		margin: 10px;
	}

	#harmonogram table {
		width: 700px;
	}

	#harmonogram tbody,
	#harmonogram tr {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}

	#harmonogram td {
		padding: 5px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#harmonogram .time {
		transform: translateY(0);
	}

	#harmonogram th[class="clickable"] {
		display: none;
	}

	#harmonogram td {
		min-height: 5rem;
	}

	#harmonogram td:empty {
		display: none;
	}
}

@media only screen and (max-width: 800px) {
	h3 {
		font-size: 1.5rem;
	}

	#o_akci p {
		font-size: 1rem;
	}

	#harmonogram table {
		width: 90vw;
	}
}

@media only screen and (max-width: 700px) {
	header {
		top: -16vw;
	}

	header canvas {
		height: 30vw;
	}

	.content_links svg {
		transform: scale(0.8);
	}

	.vrchol_svg {
		align-self: baseline;
		margin-top: 15px;
		margin-left: 4vw;
		padding: 0;
		height: 10vw;
	}

	.header_fg h2 {
		margin-bottom: 18px;
		font-size: 3vw;
		transform: translate(-10vw, -3vw);
	}

	.content_links {
		width: 90vw;
	}

	#uvod {
		margin-top: 3rem;
		margin-bottom: 3rem;
		font-size: 6.5vw;
	}

	#uvod .center {
		padding: 0 0.2rem;
	}
}

@media only screen and (max-width: 500px) {
	.vrchol_svg {
		margin-left: -1rem;
	}

	header {
		top: -17vw;
	}
}

@media only screen and (max-width: 400px) {
	h3 {
		font-size: 1.3rem;
	}

	#o_akci p {
		font-size: 1rem;
	}

	header canvas {
		height: 32vw;
	}
}

@media only screen and (max-width: 350px) {
	header {
		top: -20vw;
	}
}
