:root {
	--bg_color: #151515
}

a{
	text-decoration:inherit;
	color:inherit;
}
body{
	margin:0;
	padding:0;
	background-color: var(--bg_color);
	color: white;
}
main{
	margin:10px;
}

h3{
	font-size:3em;
	margin:20px;
}
h4{
	font-size:2.5em;
	margin:20px;
}

#uvod{
	text-align: center;
	font-size: 3em;
}
#uvod table{
	margin-left: auto;
	margin-right: auto;
}

#uvod .left{
	text-align: right;
	vertical-align: top;
	width: 250px;
	-webkit-text-stroke: 1px white;
	color: rgba(0, 0, 0, 1);
}
#uvod .right{
	text-align: left;
	vertical-align: top;
	width: 250px;
	color: rgba(0, 0, 0, 1);
	-webkit-text-stroke: 1px white;
}
#uvod .center{
	text-align: center;
	vertical-align: top;
	
}

#ov_overlay{
	position:fixed;
	width:100vw;
	height:100vh;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index:900;
	background:#000d;
}
#ov{
	position:fixed;
	width:90vw;
	height:90vh;
	left:5vw;
	top:5vh;
	background:#cdbeed;
	z-index:901;
	overflow-y:scroll;
	overscroll-behavior:contain;
	border-radius:10px;
}
#ov_lecturer{
	text-align:center;
	font-style:bold;
	font-size:2.5em;
	margin-bottom:10px;
}
#ov_title{
	text-align:center;
	font-style:bold;
	font-size:2em;
	margin-bottom:5px;
	margin-left:80px;
	margin-right:80px;
}
#ov_time{
	display:inline;
	margin-right:20px;
	font-style:italic;
}
#ov_room{
	display:inline;
	margin-right:20px;
}
#ov_annotation{
	margin-top:25px;
}
#ov_lecturer_info{
	font-style:italic;
}
#ov_last_update{
	font-style:italic;
	font-size:0.7em;
}
#ov_back{
	display:inline;
	position:absolute;
	top:10px;
	right:10px;
	padding:20px;
	font-style:bold;
	border:3px solid #361F5F;
	border-radius:5px;
}

header{
	position:fixed;
	width:100%;
	height:100px;
	z-index:3;
}
#header_bg{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
}

#hbg_canvas{
	border-radius: 0px 0px 25px 25px;
	box-shadow: 0px 0px 20px #2a2a2a;
}

.header_fg{
	position:relative;
	z-index:5;
	width:100%;
	height:100%;
	display: flex;
	justify-content: left;
	align-items: center;
	gap: 20px;
}
.header_fg .vrchol_svg{
	height: 100%;
	width: 200px;
	padding-left: 20px;
}
.header_fg svg{
	filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 1));
}

.header_fg .vrchol_svg:hover{
	cursor: pointer;
}

.header_fg .content_links{
	margin-left: auto;
	height: 100%;
	display: flex;
	justify-content: right;
	align-items: center;
}

.header_fg h2{
	align-self: flex-end;
	transform: translateX(-50px);
	margin-bottom:10px;
}
nav{
	background-color:var(--bg_color);
	border-bottom:1px solid #361F5F;
	height:20px;
}
nav a{
	padding:3px;
	margin-right:10px;
}
.header_pad{
	height:120px;
}

#o_akci,#harmonogram,#kontakty{
	scroll-margin-top: 120px;
}
#harmonogram td{
	background-color:#ffffffa0;
	border-radius:5px;
}
#harmonogram table{
	border:1px solid #8775AE;
	padding-bottom:20px;
}
#harmonogram .time{
	transform:translateY(50%);
}
#harmonogram table{
	border-spacing:5px;
}
